% -*- mode: erlang -*-
{erl_opts, [debug_info, fail_on_warning,
            {d, 'HUT_LAGER'},
            {parse_transform, lager_transform}
           ]}.

{lib_dirs, [deps]}.

{deps, [
        {cowboy, "1.0.1"},
        %% {cowboy, "1.1.2"},
        {hut, "1.3.0"},
        {lager, "3.7.0"},
        {jiffy, "1.0.1"},
        {epgsql, "4.2.1"},
        {poolboy, "1.5.2"}
]}.

{relx, [{release, { eplaypen, "0.2.0" },
         [jiffy,
          epgsql,
          cowboy,
          poolboy,
          lager,
          eplaypen]},

        {sys_config, "conf/dev-sys.config"},
        {vm_args, "conf/dev-vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles,
 [{prod,
   [{relx,
     [{dev_mode, false},
      {vm_args, "conf/vm.args"},
      {sys_config, "conf/sys.config"}]}]
  }
 ]}.
