% -*- mode: erlang -*-
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.

{lib_dirs, [deps]}.

{deps, [
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},

        {cowboy, ".*",
         {git, "git://github.com/extend/cowboy.git", {tag, "1.0.1"}}},

        {jiffy, ".*",
         {git, "git://github.com/davisp/jiffy.git", {tag, "0.13.3"}}}

        %% {epgsql, ".*",
        %%  {git, "git://github.com/epgsql/epgsql.git", {tag, "2.0.0"}}},
        %% {poolboy, ".*",
        %%  {git, "git://github.com/devinus/poolboy.git", {tag, "1.4.2"}}}
]}.
