% -*- mode: erlang -*-
[
 {sasl,
  [{errlog_type, error}]},
 %% {lager,
 %%  [{handlers,
 %%    [{lager_console_backend, info},
 %%     {lager_file_backend, [{file, "/var/log/eplaypen/info.log"},
 %%                           {level, info},
 %%                           {date, ""}, {size, 0}] %disable rotation
 %%     }]},
 %%   {crash_log, "/var/log/eplaypen/crash.log"},
 %%   {crash_log_size, 0},                 % disable rotation
 %%   {async_threshold, 300},
 %%   {colored, true}                              % R16 only!
 %%  ]},
 {eplaypen,
  [
   %% Crypto rc4 secret key for pastebin URLs
   %% crypto:rand_bytes(N)
   {pastebin_id_key,
    <<43,108,11,127,104,105,117,248,59,228,129,115,18,78,96,
      114>>},

   %% Database connection opts (used for forwarding permanent storage and
   %% domain's increment counters).
   {db, ["localhost", "eplaypen", "123456", [{database, "eplaypen"}]]},
   {db_pool, [{size, 2}, {max_overflow, 5}]}
 ]}
].
