% -*- mode: erlang -*-
[
 {eplaypen,
  [
   %% Crypto rc4 secret key for pastebin URLs
   %% crypto:strong_rand_bytes(N)
   {pastebin_id_key, {{ pastebin_key }} },

   %% Database connection opts (used for forwarding permanent storage and
   %% domain's increment counters).
   {db, #{host => "localhost",
          username => "{{ pp_user }}",
          password => "{{ db_password }}",
          database => "eplaypen"}
   },
   {db_pool, [{size, 2},
              {max_overflow, 5}]},
   {releases,
    #{
      {% for rel in erl_releases %}
        <<"{{ rel.name }}">> => "{{ rel.tag }}",
      {% endfor %}
      <<>> => <<>>
     }}
  ]},
  {lager,
    [{handlers,
      [{lager_console_backend, [{level, error}]},
       {lager_file_backend, [{file, "{{ logdir }}/application.log"},
                             {level, info},
                             {date, ""}, {size, 0}]}]},
     {crash_log, "{{ logdir }}/crash.log"}
    ]
  }
 %% {kernel,
 %%  [{logger,
 %%    [{handler, default, logger_std_h,  % {handler, HandlerId, Module,
 %%      #{level => info,
 %%        config => #{file => "{{ logdir }}/application.log"}}}  % Config}
 %%    ]}]}
].
