% -*- mode: erlang -*-
[
 {eplaypen,
  [
   %% Crypto rc4 secret key for pastebin URLs
   %% crypto:strong_rand_bytes(N)
   {pastebin_id_key,
    <<97,181,182,103,183,183,244,87,217,109,159,157,43,218,51,106>>},

   %% Database connection opts (used for forwarding permanent storage and
   %% domain's increment counters).
   {db, #{host => "localhost",
          username => "eplaypen",
          password => "123456",
          database => "eplaypen"}},
   {db_pool, [{size, 2},
              {max_overflow, 5}]}
 ]}
].
