body, #control {
    margin: 5px;
}

#editor, #result {
    font-size: 11pt;
    border: 3px solid #ccc;
    font-family: monospace;
}

#editor {
    height: 50vh;
    margin: 0;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#result {
    overflow: auto;
    margin: 0;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

#result:not(:empty) {
    border-top: 1px solid #ccc;
}

.error {
    border-radius: 5px;
    border: 3px solid #ecc;
    background-color: #fdd;
    padding: 10px;
}
